#ImageDiv{
    width: 100%;
    border:2px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.table{
    text-align: center;
    vertical-align: middle !important;
    padding: (0rem);
    margin: 0px;
    //height: 90%;
}
.table .table-body{
    font-size: 80%;
    vertical-align: middle !important;
}
.table .time{
    font-size: 80%;
    width: 13%;
   
}
.table .teacherTr{
    color:  #f9a406 ;
}

.table .break{
    //color: white;
    font-size: large;
    font-weight: bold;
    background-color: #cfd9df !important;
    
}
.table .DAY{
    background-color: #868E96 !important;
    vertical-align: middle !important;
}
.table .break_td{
    background-color: #868E96 !important;
    border: 0px;
    font-weight: bold;
    vertical-align: top !important;
}
.table-bordered{
    border: 1px solid #868E96;
}
.table-bordered td{
    border: 1px solid rgb(202, 205, 207);
    vertical-align: middle !important;
}
.table-bordered th{
    border-bottom: 2px solid #868E96 !important;
    border-top: 1px solid #868E96 !important;
}